# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.env/
.venv/
venv/
ENV/
env/
build/
develop-eggs/
.eggs/
*.egg-info/
dist/
.DS_Store
# Jupyter
.ipynb_checkpoints/

# Ignorar datasets crudos
data/*
# Mantener solo lo final (gold)
!data/gold/
!data/gold/plots/
# VS Code
.vscode/
